
$color-pink: #F16D7F;

$color-pinkhoover: #d84659;

$color-header_footer: #222222; 

$color-grey1: #4D4D4D; 

$color-grey2: #dddddd;

$color-grey3: #B1B1B1;

$color-grey4: #575757;

$color-black: #222222;