* {
  margin: 0;
  padding: 0;
}
    
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper-top {
  flex-grow: 1;
}


footer {
  margin-top: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  padding: 0 2%;
}

.container-1600 {
  max-width: 1600px;
  margin: 0 auto;
}

.block_flex {
  display: flex;
  padding: 0;
}

@import "variables";

.header {
  background-color: $color-header_footer;
  height: 75px;
  display: flex;
  align-items: center;
}

.header_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header__left {
  display: flex;
}

.header__logo {
  padding: 24px 20px 24px 0;
}

.header__searchbox {
  position: relative;
}

.header__searchimg {
  position: absolute;
  top: 5px;
  padding: 24px 20px;
}

.header__searchform {
  position: absolute;
  left: 40px;
  padding: 24px 20px;
  display: none;
}

.header__searchbox:hover .header__searchform {
  display: block;
}

.searchform-2 {
  display: flex;
}

.header__forminput {
  display: block;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  min-width: 334px;
  height: 38px;
  border-radius: 19px 0 0 19px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(7, 7, 7);
  outline: none;
}

.header__formsubmit {
    display: block;
    background-color:  $color-pink;
    border: none;
    box-sizing: border-box;
    height: 38px;
    border-radius: 0 19px 19px 0;
    padding-left: 20px;
    padding-right: 25px;
    color: white;
    outline: none;
    transition: background-color 0.2s;
}

.header__formsubmit:hover {
  background-color: $color-pinkhoover;
}

.header__right {
  display: flex;
  align-items: flex-end;
}

.cart-round_pos {
  position: relative;
}

.cart_quantity {
  text-align: center;
  background-image: url(imgs/cart_round.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 19px;
  width: 19px;
  position: absolute;
  z-index: 1;
  top: 28px;
  left: 44px;

}

.header_right-icons {
  display: block;
  padding: 35px 20px;
}

.header_right-icons-cart {
  display: block;
  padding: 35px 0 35px 20px;
}

.block_menu {
  position: relative;
}

.menu__img {
  padding: 35px 20px;
}

// .menu__box {
//   background-color: #fff;
//   padding: 16px 16px 35px 35px;
//   box-sizing: border-box;
//   box-shadow: 5px 5px 20px #15151530;
//   min-height: 764px;
//   width: 232px;
//   position: absolute;
//   top: 81px;
//   right: -121px;
//   visibility: hidden;
//   opacity: 0;
//   transition: all .3s;  
//   z-index: 1;
// }

// .block_menu:hover .menu__box {
//   visibility: visible;
//   opacity: 1;  
// }


// transition почему-то не сработал, почему так?
.menu__box {
  background-color: #fff;
  padding: 16px 16px 35px 35px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px #15151530;
  min-height: 764px;
  width: 232px;
  position: absolute;
  top: 81px;
  right: -121px;
  display: none;
  transition: all .3s;  
  z-index: 1;
}

.block_menu:hover .menu__box {
  display: block; 
}

.close_box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 9px;
}

.menu_main-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu_title {
  margin-bottom: 12px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.menu_list {
  display: block;
  list-style: none;
  margin-left: 20px;
}

.menu__li {
  margin-bottom: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.link__txt {
  text-decoration: none;
  color: #6F6E6E;
}

.link__txt:hover {
  color: $color-pink;
}

.block_head {
  background-color: #F1E4E6;
  min-height: 363px;
}



.block_head_img {
  width: 100%;
}

.block_head__right {
  display: flex;
  width: 63%;
  justify-content: center;
 
}

.block_head-txt {
  display: flex;
  align-items: center;
}

.pink_vert {
  min-height: 92px;
  min-width: 12px;
  margin-right: 16px;
  background-color: $color-pink;
}

.head_h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #222222;
  margin-bottom: 5px;
}

.head_h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #222222;
}

.head_h2-pink {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: $color-pink;
}

.h4_16px {
  margin-bottom: 6px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

.h4_16px_accesories {
  margin-bottom: 6px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

.h3_24px {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-pink;
}


.collections-box {
  margin-top: 65px;
  padding: 0;
}

.coll-box__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.coll-box__item1 {
  position: relative;
}

.coll-box__item-img {
  width: 100%;
  transition: all 0.3s;
}

.marginbox-h {
  height: 30px;
}

.marginbox-v {
  width: 25px;
}

.coll-box__item-hover {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  transition: all 0.3s;
}

.coll-box__item2 {
  position: relative;
}

.coll-box__item1:hover .coll-box__item-hover {
  display: block;
}

.coll-box__item1:hover .coll-box__item-img {
  filter: brightness(30%);
}

.coll-box__item2:hover .coll-box__item-hover {
  display: block;
}

.coll-box__item2:hover .coll-box__item-img {
  filter: brightness(30%);
}










.featured-items_block {
  margin-top: 96px;
  margin-bottom: 96px;
  padding: 0;
}

.sec_header {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.sec_descr {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.items_box {
  margin-top: 48px;
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_mg {
      margin: 63px 0 128px;
  }

  &_mg-cat {
      margin: 0px 0 48px;
  }
}

.item {
  width: 32%;
  position: relative;
  margin-bottom: 30px;
  background-color: #f8f8f8f8;
}

.item:hover .item-img {
  filter: brightness(30%);
}


.item-img {
  width: 100%;
  transition: all 0.3s;
}

.txt-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.txt-box__top {
  flex-grow: 1;
}

.item-name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.item-descr {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.item-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $color-pink;
  text-transform: uppercase;
}

.item_link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
}

.add-link {
  position: absolute;
  top: 188px;
  display: none;
  justify-content: center;
  width: 100%;
}

.item:hover .add-link {
    display: flex;
}

.add {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ffffff;
  text-decoration: none; 
}

.add:hover {
  box-shadow: 0 0 7px #ffffff;
}

.add-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 8px;
}

.button-box {
  display: flex;
  justify-content: center;
}

.featured-items__button {
  text-decoration: none;
  border: 1px solid $color-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $color-pink;
  padding: 14px 38px 14px 38px;
  transition: all 0.3s;
}

.featured-items__button:hover {
  background-color: $color-pink;
  color: #ffffff;
}

.black-box {
  background-color: $color-header_footer;
  height: 341px;
  display: flex;
  align-items: center;
}

.bb-advantages {
  display: flex;
  justify-content: space-between;
}

.advantage-1 {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-img {
  height: 32px;
  margin-bottom: 28px;
  color: $color-pink;
}

.sales-img {
  height: 40px;
  margin-bottom: 19px;
  color: $color-pink;
}

.quality-img {
  height: 35px;
  margin-bottom: 25px;
  color: $color-pink;
}

.advantage-header {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advantage-descr {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer1-bg {
  height: 448px;
  display: flex;
  align-items: center;
  background-image: url(imgs/footer_bg-img2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer1-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.review {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1-photo {
  height: 96px;
  margin-bottom: 28px;
}

.footer1-quote {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer1-subs {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subs-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subs-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subs-email {
  display: flex;
}

.footer1__forminput {
  display: block;
  background-color: #E1E1E1;
  border: none;
  box-sizing: border-box;
  min-width: 256px;
  height: 49px;
  border-radius: 24px 0 0 24px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(7, 7, 7);
  outline: none;
  font-size: 14px;
}

.footer1__forminput:required {
  background-color: red;
}

.footer1__formsubmit {
  display: block;
  background-color: $color-pink;
  border: none;
  box-sizing: border-box;
  height: 49px;
  border-radius: 0 24px 24px 0;
  padding-left: 20px;
  padding-right: 25px;
  color: white;
  outline: none;
  font-size: 14px;
}

.footer1__formsubmit:hover {
  background-color: $color-pinkhoover;
}

.footer1__formsubmit:active {
  background-color: #CB4154;
}

.footer2 {
  background-color: #222224;
  height: 79px;
  display: flex;
  align-items: center;
}

.footer2-content {
  display: flex;
  justify-content: space-between;
}

.footer2__txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfbfb;
}  
 
.fa-facebook-f {
  background-color: #ffffff;
  padding: 8px 12px 8px 11px;
  font-size: 15px;
  color: #222224;
  margin-right: 7px;
}

.fa-facebook-f:hover {
  background-color: $color-pink;
  color: #ffffff;
}

.fa-instagram {
  background-color: #ffffff;
  padding: 8px 9px 8px 9px;
  font-size: 15px;
  color: #222224;
  margin-right: 7px;
}

.fa-instagram:hover {
  background-color: $color-pink;
  color: #ffffff;
}

.fa-pinterest-p {
  background-color: #ffffff;
  padding: 8px 10px 8px 10px;
  font-size: 15px;
  color: #222224;
  margin-right: 7px;
}

.fa-pinterest-p:hover {
  background-color: $color-pink;
  color: #ffffff;
}

.fa-twitter {
  background-color: #ffffff;
  padding: 8px 9px 8px 9px;
  font-size: 15px;
  color: #222224;
  margin-right: 7px;
}

.fa-twitter:hover {
  background-color: $color-pink;
  color: #ffffff;
}   
     

// Product


.nav-head {
  background-color: #F8F3F4;
  
} 

.nav-head-box {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.display-block {
  display: block;
}

.txt {
  font-style: normal;
  font-weight: normal;

  &_hover-pink:hover {
    color: $color-grey1;
  }

  &_hover-grey:hover {
    color: $color-pink;
  }
  
  &_pink {
    color: $color-pink; 
  }

  &_grey1 {
    color: $color-grey1;
  }

  &_grey3 {
    color: $color-grey3;
  }

  &_grey4 {
    color: $color-grey4;
  }

  &_black {
    color: #000000;
  }

  &_black2 {
    color: $color-black;
  }

  &_white {
    color: #ffffff; 
  }

  &_size-24 {
    font-size: 24px;
    line-height: 29px;
  }

  &_size-22 {
    font-size: 22px;
    line-height: 26px;
  }

  &_size-18 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }

  &_size-16 {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }

  &_size-14 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  &_size-12 {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  
  &_size-11 {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
  }

  &_link {
    text-decoration: none;
  }

  &_bold {
    font-weight: 600;
  }

  &_medium {
    font-weight: 400;
  }

  &_thin {
    font-weight: 300;
  }

  &_display-bl {
    display: block;
  }

  &__cart-round {
    line-height: 19px;
    
  }

  &__align { 
    text-align: center;
  }

  &__margin-r20 {
    margin-right: 20px;
  }

  &__margin-b8 {
    margin-bottom: 8px;
  }

  &__margin-b12 {
    margin-bottom: 12px;
  }

  &__margin-b22 {
    margin-bottom: 22px;
  }

  &__margin-b32 {
    margin-bottom: 32px;
  }

  &__margin-b42 {
    margin-bottom: 42px;
  }

  &__margin-b48 {
    margin-bottom: 48px;
  }

  &__margin-b65 {
    margin-bottom: 65px;
  }

  &_pd-10 {
    padding: 10px 0;
  }

  &_pd-20 {
    padding: 20px 0;
  }

  &_pd-r {
    padding-right: 150px;
  }

  &_pd-r2 {
    padding-right: 200px;
  }

  &_height37 {
    line-height: 37px;
  }
}

.product-carousel {
  background-color: #f7f7f7;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.img-pos {
  margin: 0 auto;
}

.carousel {
  position: initial;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgb(83, 80, 80); 
}

.carousel-control-next {
  justify-content: flex-end;
  opacity: 1;
  top: -33px;
}

.carousel-control-prev {
  justify-content: flex-start;
  opacity: 1;
  top: -33px;
}

.fas {
  font-weight: 700;
  font-size: 27px;
  color: black;
  background-color: rgba(42, 42, 42, 0.15);
  padding: 12px 17px;
}

.fas:hover {
  color: $color-pink;
}

.product-info_box {
  background-color: #ffffff;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  padding: 64px;
  transform: translate(0px, -65px);
}

.product-line {
  background-color: $color-pink;
  height: 3px;
  width: 63px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-txt-box {
  max-width: 555px;
  margin: 0 auto;
}

.product-options {
  width: 641px;
  border-top: 1px solid #EAEAEA;
  margin: 0 auto;
  padding-top: 65px;
}


.button {
  padding: 10px 40px;
  position: relative;
  transition: background-color 0.3s;
  
  &_text-pink {
    color: $color-pink;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-left: 0 12px;
    transition: background-color 0.3s;
  }

  &_text-white {
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-left: 0 12px;
    transition: background-color 0.3s;
  }

  &_text-grey1 {
    color: $color-grey1;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    margin-left: 0 12px;
    transition: background-color 0.3s;
  }

  &_text-grey1-11 {
    color: $color-grey1;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    margin-left: 0 12px;
    transition: background-color 0.3s;
  }

    &_link {
    text-decoration: none;
  }

  &_bd {
    border: 1px solid $color-pink;
  }

  &_bd-grey {
    border: 1px solid $color-grey3;
  }

  &_bgc {
    background-color: #fff;
  }

  &_bgc-pink {
    background-color: $color-pink;
  }

  &_pad-14 {
    padding: 14px 25px;
  }

  &_pad-10 {
    padding: 10px 14px;
  }

  &_width-211 {
    width: 211px;
  }

  &__mg-0-auto {
    margin: 0 auto;
  }

  &_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_margin-t24 {
    margin-top: 24px;
  }
}

.cart-pic_white {
  position: absolute;
  display: none;
  left: 45px;
  transition: background-color 0.3s;
}

.cart-pic_pink {
  margin-right: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: $color-pink;
} 

.button:hover .button_text-pink{
  color: #ffffff;
} 

.button:hover .button_text-grey1{
  color: #ffffff;
} 

.button:hover .button_text-grey1-11{
  color: #ffffff;
} 

.button:hover .cart-pic_white{
  display: block;
  z-index: 3;
} 





/* Chrome, Opera, Safari */
.details summary::-webkit-details-marker {
  display: none;
}
.details :focus {
  outline: 0;
}
  /* Firefox */
.details, summary {
  display: block;
}
.details summary:before {
  content: "▲ ";
}
.details[open] summary:before {
  content: "▼ ";
}

.product-options_box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 388px;
}

.product-options-input {
  width: 136px;
  text-align: left;

  &_width-size {
    width: 118px;
  }

  &_width-qu {
    width: 99px;
  }

  &_box {
    position: relative;
  }

  &_choose {
    position: relative;
  }

  &_name {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey1;
  }

  &_hover-pink:hover {
    color: $color-pink;
  }  
}


.product-options_input-size {
  width: 145px;
  text-align: left;
}

.product-options_input-quantity {
  width: 145px;
  text-align: left;
}


.product-options_list {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  color: $color-grey1;
  padding: 16px;
  width: 140px;
  position: absolute;
  background: #ffffff;
  top: 23px;
  left: 0;
  box-shadow: 0px 3px 2px #00000012;
  z-index: 4;

  &_width-size {
    width: 128px;
  }

  &_width-qu {
    width: 114px;
  }
}

.product-options_opt {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.product_opt-pic {
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 10px;
}

.product_opt-pic_lilac {
  background-color: #c8b1db;
}

.product_opt-pic_yellow {
  background-color: #fff7a2;
}

.product_opt-pic_white {
  background-color: #ffffff;
  border: 1px solid $color-grey2;
}

.product_arrow {
  padding-left: 10px;
}

.margin-block {
  height: 48px;
}

.product_featured-items_block {
  padding: 0;
}


// CATALOG _____________________________________


.param {
  height: 132px;
  display: flex;
  align-items: center;
  padding: 0;
}

.filter {
  position: relative;
  margin-right: 27%;
}

.filter-group {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.filter-pic {
  padding: 10px; 
}

.filter-box {
  width: 360px;
  position: absolute;
  z-index: 2;
  top: -7px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  padding: 10px 0 20px;
  display: none;
  transition: all 0.3s;
}

.filter:hover .filter-box {
  display: block;
}

.filter-chapters {
  padding: 10px 20px 0;
}

.chapter-name {
  border-left: 5px solid $color-pink;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom:8px;
  padding-top: 8px;
  padding-left:5px;
}

.chapter-list {
  list-style-type:none;
  padding: 22px 11px 0;
}

.chapter-a {
  text-decoration: none;
  line-height: 30px;
}

.form_selects {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.catalog-options_box {
  display: flex;
  justify-content: space-between;
}

.catalog-options-input {
  padding-right: 20px;
}

.catalog-options_list {
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  color: #4D4D4D;
  padding: 16px;
  
  position: absolute;
  background: #ffffff;
  top: 23px;
  left: 0;
  -webkit-box-shadow: 0px 3px 2px #00000012;
  box-shadow: 0px 3px 2px #00000012;
  z-index: 4;
}

.catalog-check {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}

.pagination-box {
  display: flex;
  justify-content: center;
}

.pagination-list {
  padding: 0 14px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
}

.fa, .fas {
  color: #000000;
  font-size: 14px;
}

.pagination__item {
  color: #b4b4b4;
  float: left;
  padding: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.3s;

  &_pink {
    color: $color-pink;
  }
}

.pagination__item:hover {
  color: $color-pink;
  font-weight: 400;
}



// REGISTRATION _________________________________________________________________

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}


.reg_form_text {
  font-size: 13px;
  line-height: 15px;  
  color:#B1B1B1;
  text-align: start;
  margin-bottom: 34px;   
}    

 
.form input:required {
background-color: red;
}


.reg_button:hover {
  transform:scale(1.5);
  
}

.reg-radio {
  margin-bottom: 40px;
}


.form_label {
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}


input {
  margin-bottom: 20px;
  padding:auto;
}

.input_margin-b0 {
  margin-bottom: 0;
}

.reg-name {
  border: 1px solid $color-grey3; 
  background: #ffffff !important; 
  outline: none; 
  height: 45px; 
  width: 360px; 
  font-size: 13px; 
  font-family: 'Lato';
  padding-left:16px;
  font-weight: 300;
  line-height: 16px;
  color: $color-grey1;
}

.reg-email {
  border: 1px solid $color-grey3; 
  background: #ffffff !important; 
  outline: none; 
  height: 45px; 
  width: 360px; 
  padding-left:16px;
  font-size: 13px; 
  font-weight: 300;
  line-height: 16px;
  color: $color-grey1;   
}

input[type="password"] {
  border: 1px solid $color-grey3; 
  background: #ffffff !important; 
  outline: none; 
  height: 45px; 
  width: 360px; 
  font-size: 13px; 
  font-family: 'Lato';
  padding-left:16px;
  font-weight: 300;
  line-height: 16px;
  color: $color-grey1;
}

.join-pic_white {
  position: absolute;
  display: none;
  left: 118px;
  transition: background-color 0.3s;
}

.join-pic_pink {
  margin-left: 12px;
}

.button:hover .join-pic_white {
  display: block;
  z-index: 3;
} 


.registration_right-box {
  margin-left: 128px;
}

.reg-ul {
  list-style-image: url("imgs/Corner.svg");
}


.reg-list {
  padding: 0 23px 16px;
}

 
// CART _________________________________________________________________

.cart-content {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
  padding: 0;
}
  
.cart-item {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 20px #15151530;

  &_margin-b40 {
    margin-bottom: 40px;
  }
}

.cart-item_info {
  padding: 22px 22px 31px 22px;
  width: 390px;
}

.cart-item_info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-item_close {
  width: 18px;
}

.cart-info_quant {
  display: flex;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.cart-form {
  padding-top: 22px;
  padding-left: 128px;
}

.cart-total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #F5F3F3;
  padding: 42px;
  margin-top: 57px;
  margin-left: 128px;
}

.cart-total-price_txt {
  margin-left: 20px;
} 


.cart-total-prise_button-box {
  padding-top: 17px;
  margin-top: 21px;
  border-top: 1px solid $color-grey2;
  width: 100%;
}

.cart-total-prise_button {
  background-color: $color-pink;
}
.button-pink {
  padding: 16px 40px;
  transition: background-color 0.3s;
  
  &_text-white {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    transition: background-color 0.3s;
  }

  &_link {
    text-decoration: none;
  }

  &_bd {
    border: 1px solid $color-pink;
  }

  &_bd-grey {
    border: 1px solid $color-grey3;
  }

  &_bgc-pink {
    background-color: $color-pink;
  }

  &_pad-16 {
    padding: 16px 42px;
  }

  &_pad-10 {
    padding: 10px 14px;
  }

  &_width-211 {
    width: 211px;
  }

  &__mg-0-auto {
    margin: 0 auto;
  }

  &_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_margin-t24 {
    margin-top: 24px;
  }
}

.button-pink:hover {
  background-color: $color-pinkhoover;
} 


@media screen and (max-width: 768px) {

  .header__left {
    margin-left: 20px;
  }

  .header__right {
    margin-right: 20px;
  }

  .header__searchform {
    left: -103px;
  }

  .header__forminput {
    min-width: 200px;
    padding-right: 0;
  }

  .menu__box {
    top: 81px;
    right: -156px;
  }

 
  .block_head_img {
    width: 184px;
    margin-left: 45%;
  }

  .block_head__right {
    width: 74%;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .head_h1 {
    font-size: 44px;
    line-height: 44px;
  }

  .head_h2 {
    font-size: 24px;
    line-height: 24px;  
  }

  .head_h2-pink {
    font-size: 24px;
    line-height: 24px;
  }

  .item {
    width: 49%;
  }  

  .add-link {
    top: 25%;
  }

  .black-box {
    height: 610px;
  }

  .bb-advantages {
    flex-direction: column;
    align-items: center;
  }

  .advantage-1 {
    width: 50%;
    margin-bottom: 48px;

    &__margin-b0 {
      margin-bottom: 0;
    }
  }  

  .footer1-bg {
    height: 614px;
    background-image: url(imgs/footer_bg-img2_768.jpg);
  }

  .footer1-content {
    flex-direction: column;
    align-items: center;
  }

  .footer1-quote {
    margin-bottom: 60px;
  }

  .footer2-content__left {
    margin-left: 20px;
  }

  .footer2-content__right {
    margin-right: 15px;
  }

}

@media screen and (max-width: 622px) {

  .block_head_img {
    display: none;
  }

  .block_flex {
    flex-direction: column;
    align-items: center;
    padding-top: 148px;
  }

  .block_head__right {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .pink_vert {
    min-height: 61px;
  }

  .head_h1 {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 0px;
  }

  .head_h2 {
    font-size: 20px;
    line-height: 20px;  
  }

  .head_h2-pink {
    font-size: 20px;
    line-height: 20px;  
  }

  .coll-box__item-hover2 {
    top: 23%;
  }

}

@media screen and (max-width: 400px){
  
  .header__searchform {
    left: -103px;
    z-index: 5;
  }
}

@media screen and (max-width: 450px){

  .content {
    padding: 0 4%;
  }

  .header_right-icons {
    display: none;
  }

  .header__searchform {
    left: -103px;
    z-index: 5;
  }

  .block_menu {
    z-index: 1;
  }

  .header__forminput {
    min-width: 200px;
    padding-right: 0;
  }

  .header_right-icons-cart {
    display: none;
  }

  .menu__box {
    top: 84px;
    right: -37px;
}

  .menu__img {
    padding: 35px 0 35px 20px;
  }

  .block_head {
    min-height: 363px;
  }

  .coll-box__top {
    flex-direction: column;
    margin-bottom: 0;
  }

  .coll-box__item1 {
    position: relative;
    margin-bottom: 30px;
  }

  .coll-box__item-img2 {
    display: none;
  }

  .coll-box__item2 {
    position: relative;
    background-image: url(imgs/collection-accesories-1v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 205%;
    height: 111px;
  }

  .coll-box__item2:hover {
    filter: brightness(30%)
  }

  .featured-items_block {
    margin-top: 64px;
  }

  .item {
    width: 100%;
  }

  .add-link {
    top: 30%;
  }

  .advantage-1 {
    width: 90%;
  }

  .footer1-bg {
    height: 550px;
  }

  .review {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer1-quote {
    font-size: 18px;
    line-height: 22px;
  }

  .footer1-subs {
    min-width: 322px;
  }

  .subs-descr {
    font-size: 14px;
    line-height: 21px;
  }

  .subs-header {
    margin-bottom: 0;
  }

  .subs-email {
    justify-content: center;
  }

  .footer1__forminput {
    min-width: 150px;
    margin-left: 20px;
    padding-right: 0;
  }

  .footer1__formsubmit {
    margin-right: 20px;
  }

  .footer2 {
    height: 143px;
  }

  .footer2-content {
    flex-direction: column;
    align-items: center;
  }

  .footer2-content__left {
    margin-left: 0;
    order: 2;
}

  .footer2-content__right {
    margin-right: 0;
    order: 1;
    margin: 40px 0 35px;
  }




}